<script src="/javascripts/rating.js"></script>

<div class="container-fluid">
<div class="row">
    <div class="col-md-3">
        <img class="img-responsive img-thumbnail" src="{{image}}">
    </div>
    <div class="col-md-9">
        <div class="row">
            <h1>{{nameRomanized}}</h1>
        </div>
        <h4>
        <div class="row">
            <b>Aired</b>: {{dateStart}}
            <br><br>
            <strong>Finished</strong>: {{dateEnd}}
        </div>
        <br>
        <div class="row">
            <strong>Average rating</strong>:             
                <div id = "showAvgRatingNum">{{showAvgRating}}</div>
                <div id = "showAvgRating" class = "rating-container-showAvg">
                </div>
            <br><br>
            <strong>Your rating</strong>: 
                <div id = "usrRatingNum">{{usrRating}}</div>
                <div id = "usrRating" class = "rating-container-usrRating">
                </div>
        </div>
        </h4>
    </div>
</div>
<script src="/javascripts/showRating.js"></script>
<br>
<br>
<div class="row">
    <h2>Synopsis</h2>
    <p class="lead">{{{synopsis}}}</p>
</div>

<div class="row">
<a href="/">Back to homepage</a>
</div>
